<section class="contact-us" id="contact">
    <div class="container">
        <div class="section-header">
            <h2 class="white-text">Get in touch</h2>
            <br /><br />
            <h5 class="white-text">Ready to start your next project with us? That's great!</h5>
            <h5 class="white-text">Give us a call or send us an email and we will get back to you as soon as possible!</h5>
            <h6 class="white-text">To contact the team members can follow them on social networks or via email if you communicate with them.</h6>
        </div>
        <div class="row">
            <div class="pirate_forms_wrap">
                <form method="post" enctype="application/x-www-form-urlencoded" id="pirate_forms_5558" class="pirate_forms ">
                    <div class="form_field_wrap contact_name_wrap col-lg-4 col-sm-4 ">
                        <label for="pirate-forms-contact-name"></label>
                        <input id="pirate-forms-contact-name" name="pirate-forms-contact-name" required class="form-control" type="text" value="" placeholder="Your Name">
                    </div>
                    <div class="form_field_wrap contact_email_wrap col-lg-4 col-sm-4 ">
                        <label for="pirate-forms-contact-email"></label>
                        <input id="pirate-forms-contact-email" name="pirate-forms-contact-email" required class="form-control" type="email" value="" placeholder="Your Email">
                    </div>
                    <div class="form_field_wrap contact_subject_wrapcol-lg-4 col-sm-4 ">
                        <label for="pirate-forms-contact-subject"></label>
                        <input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject" required class="form-control" type="text" value="" placeholder="Subject">
                    </div>
                    <div class="form_field_wrap contact_message_wrap col-lg-12 col-sm-12 ">
                        <textarea id="pirate-forms-contact-message" name="pirate-forms-contact-message" required class="form-control" placeholder="Your message"></textarea>
                    </div>
                    <button id="pirate-forms-contact-submit" name="pirate-forms-contact-submit" class="pirate-forms-submit-button" type="submit">Send Message</button>
                    <div class="form_field_wrap ">
                        <div id="pirate-forms-captcha" name="pirate-forms-captcha" class="g-recaptcha pirate-forms-g-recaptcha" data-sitekey="6LfSWhkTAAAAAHT6vGFzMqYVuC5gw9IyIuLytIsU"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>