<section class="separator-one" id="ribbon_bottom">
    <div class="color-overlay">
        <h3 class="container text" data-scrollreveal="enter left after 0s over 1s">Xomorod Corporation has small software company to provide what you need in the field of web applications, Windows, Android and iOS. Most of the application on Xomorod are open source, free to download, and easy to use.</h3>
        <div data-scrollreveal="enter right after 0s over 1s">
            <a href="#contact" class="btn btn-primary custom-button green-btn">Contact Us</a>
        </div>
    </div>
</section>
