<section class="purchase-now" id="ribbon_right">
    <div class="container">
        <div class="row">
            <div class="col-md-9 zerif-rtl-ribbon-text" data-scrollreveal="enter left after 0s over 1s">
                <h3 class="white-text">Many of our projects are open source and free. You can download from GitHub.</h3>
            </div>
            <div class="col-md-3 zerif-rtl-ribbon-btn" data-scrollreveal="enter right after 0s over 1s">
                <a href="https://github.com/Behzadkhosravifar?tab=repositories" class="btn btn-primary custom-button red-btn">More Download Now !</a>
            </div>
        </div>
    </div>
</section>
