<section class="focus" id="focus">
    <div class="container">
        <div class="section-header">
            <h2 class="dark-text">At Your Service</h2>
            <h6>We've got what you need!</h6>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-diamond pixeden our-focus-widget-image" style="color: rgb(233, 102, 86); margin-top: 18%"></i></a>
                </div>
                <h5 class="red-border-bottom">Xomorod</h5>
                <p>Our broad tool-set enables us to partner with you to create and integrate custom solutions.</p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-android pixeden our-focus-widget-image" style="color: rgb(52, 210, 147); margin-top: 18%"></i></a>
                </div>
                <h5 class="red-border-bottom">Android</h5>
                <p>Realize your ideas in the form of Android apps at the least possible time</p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-windows pixeden our-focus-widget-image" style="color: rgb(58, 176, 226); margin-top: 16%; margin-right: 1%"></i></a>
                </div>
                <h5 class="red-border-bottom">Windows</h5>
                <p>All software of Xomorod are supported for windows desktop and web platforms</p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-apple pixeden our-focus-widget-image" style="color: rgb(247, 216, 97); margin-top: 18%"></i></a>
                </div>
                <h5 class="red-border-bottom">Apple</h5>
                <p>Build multi-platform applications with Xamarin technology for iOS and other platforms</p>
            </div>
        </div>
    </div>
</section>