@{
    var id = "subscribe_" + Guid.NewGuid();

    var opt = new AjaxOptions()
    {
        UpdateTargetId = "ajax_subscribe_updates",
        LoadingElementId = "Ajaxloading",
        InsertionMode = InsertionMode.Replace
    };
}

<div id="ajax_subscribe_updates">
    
    <section class="newsletter" id="subscribe">
        @using (Ajax.BeginForm("Subscribe", "Home", opt, new {@id = id}))
        {
            <div class="container">
                <h3 class="white-text" data-scrollreveal="enter left after 0s over 1s">WHAT'S COMING NEXT?</h3>
                <div class="sub-heading white-text" data-scrollreveal="enter right after 0s over 1s">Leave your email and be the first to get updates and news!</div>
                <h1 class="widget-title">.</h1>
                <form id="sib_form_1-form" method="post" class="sib_signup_form">
                    <input type="hidden" name="sib_form_action" value="subscribe_form_submit">
                    <input type="hidden" name="sib_form_list_id" value="2">
                    <input type="hidden" name="reference_id" value="1">
                    <div class="sib_signup_box_inside">
                        <p class="sib-email-area">
                            <input type="email" class="sib-email-area" name="email" required="required" placeholder="Email Address">
                        </p>
                        <p class="sib-NAME-area">
                            <label class="sib-NAME-area">Name</label>
                            <input type="text" class="sib-NAME-area" name="NAME">
                        </p>
                        <p>
                            <input type="submit" class="sib-default-btn" value="Subscribe">
                        </p>
                        <a><img id="Ajaxloading" style="display: none; position: absolute;" src="@Url.Content("~/content/images/Ajaxloading.gif")" alt="Spin and pulsate 32 pixels wide"/></a>
                    </div>
                </form>
                <script>jQuery('form#sib_form_1-form input[type="submit"]').attr('value', "Subscribe");</script>
            </div>
        }
    </section>

</div>