@{
    var id = "subscribe_" + Guid.NewGuid();

    var opt = new AjaxOptions()
    {
        UpdateTargetId = "ajax_subscribe_updates",
        LoadingElementId = "Ajaxloading",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "toastr.info('Requesting to Subscribe','', {timeOut: 1500});",
        OnFailure = "OnFailure",
        OnSuccess = "toastr.success('Your email subscribe successfull.');"
    };
}

<div id="ajax_subscribe_updates">

    <section class="newsletter" id="subscribe">
        @using (Ajax.BeginForm("Subscribe", "Home", opt, new { @id = id }))
        {
            <div class="container">
                <h3 class="white-text" data-scrollreveal="enter left after 0s over 1s">WHAT'S COMING NEXT?</h3>
                <div class="sub-heading white-text" data-scrollreveal="enter right after 0s over 1s">Leave your email and be the first to get updates and news!</div>
                <br />

                <div>
                    <input type="email" name="email" required="required" placeholder="Email Address">

                    <input type="submit" class="btn custom-button red-btn" value="Subscribe">

                    <img id="Ajaxloading" style="display: none;" src="@Url.Content("~/content/images/Ajaxloading.gif")" alt="Spin and pulsate 32 pixels wide" />
                </div>
            </div>
        }
    </section>

</div>