@model System.Web.Mvc.HandleErrorInfo
@{
    ViewData["dir"] = "ltr";
    ViewBag.Title = "Xomorod - NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Styles.Render("~/Content/errors")
}

<br />
<br />
<br />
<br />

<img src="@Url.Content("~/Content/images/404.jpg")" alt="Page Not Found (404).">

<br />
<br />

<div class="error_box">
    <p class="error-number">404</p>
    <p class="error-text">… Oops! Something is missing</p>
    <p class="go-home">
        <a href="/">Home</a>
    </p>
</div>

<br />
<br />
<br />
<br />
<br />
<br />