/*
socialsider - The Ultimate Social Button Kit
by Dawid CzerwoÅ„ski
2014

w: www.czerwonski.pl
e: dawid@czerwonski.pl
m: 0048 533 99 55 77

This Software is protected by copyright law and licensed (not sold). You can buy a license on codecanyon.net
*/

@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socialsider { width:70px; display:block; -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;  }
.socialsider ul { list-style-type:none; margin:0; padding:0; }
.socialsider li { margin:0; padding:0; }
.socialsider a { overflow:hidden; height:41px;display:block; text-decoration:none; -webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease; position:relative;}
.socialsider a::after { display:block; font-family:'socicon'; text-decoration:none; font-size:20px; padding:10px; position:absolute;left:0;top:0;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease; }

.socialsider_fixed { position:fixed; }
.socialsider_absolute { position:absolute; }

/* Effects */
.socialsider_radius a::after { border-radius:5px; }
.socialsider_shadow a::after { -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);box-shadow: 0 0 2px 2px rgba(0,0,0,0.2); }
.socialsider_opacity a::after { opacity:0.4; }
.socialsider_opacity a:hover::after { opacity:1; }
.socialsider_spacer a { height:42px; margin-bottom:1px; }


/* Positions */
.socialsider_left_top { left:-30px; top:50px; }
.socialsider_left_top.socialsider_hidden { left:-45px; }
.socialsider_left_top.socialsider_hidden:hover { left:-25px; }
.socialsider_left_top a{ left:0px;}
.socialsider_left_top a::after {padding-left:40px; }
.socialsider_left_top a:hover { left:10px; }

.socialsider_left_middle { left:-30px; top:40%; }
.socialsider_left_middle.socialsider_hidden { left:-45px;}
.socialsider_left_middle.socialsider_hidden:hover { left:-25px; }
.socialsider_left_middle a { left:0px;}
.socialsider_left_middle a::after { padding-left:40px; }
.socialsider_left_middle a:hover { left:10px; }

.socialsider_left_bottom { left:-30px; bottom:50px; }
.socialsider_left_bottom.socialsider_hidden { left:-45px; }
.socialsider_left_bottom.socialsider_hidden:hover { left:-25px; }
.socialsider_left_bottom a { left:0px;}
.socialsider_left_bottom a::after { padding-left:40px; }
.socialsider_left_bottom a:hover { left:10px; }

.socialsider_right_top { right:-30px; top:50px; }
.socialsider_right_top.socialsider_hidden { right:-45px; }
.socialsider_right_top.socialsider_hidden:hover { right:-25px; }
.socialsider_right_top a { right:0px;}
.socialsider_right_top a::after { padding-right:40px; }
.socialsider_right_top a:hover { right:10px; }

.socialsider_right_middle { right:-30px; top:40%; }
.socialsider_right_middle.socialsider_hidden { right:-45px; }
.socialsider_right_middle.socialsider_hidden:hover { right:-25px; }
.socialsider_right_middle a { right:0px;}
.socialsider_right_middle a::after { padding-right:40px; }
.socialsider_right_middle a:hover { right:10px; }

.socialsider_right_bottom { right:-30px; bottom:50px; }
.socialsider_right_bottom.socialsider_hidden { right:-45px;}
.socialsider_right_bottom.socialsider_hidden:hover { right:-25px; }
.socialsider_right_bottom a { right:0px;}
.socialsider_right_bottom a::after { padding-right:40px; }
.socialsider_right_bottom a:hover { right:10px; }



/* Socicon letters */
.socialsider a[data-socialsider='twitter']::after { content:"a";}
.socialsider a[data-socialsider='facebook']::after { content:"b";}
.socialsider a[data-socialsider='google']::after { content:"c";}
.socialsider a[data-socialsider='pinterest']::after { content:"d";}
.socialsider a[data-socialsider='foursquare']::after { content:"e";}
.socialsider a[data-socialsider='yahoo']::after { content:"f";}
.socialsider a[data-socialsider='skype']::after { content:"g";}
.socialsider a[data-socialsider='yelp']::after { content:"h";}
.socialsider a[data-socialsider='feedburner']::after { content:"i";}
.socialsider a[data-socialsider='linkedin']::after { content:"j";}
.socialsider a[data-socialsider='viadeo']::after { content:"k";}
.socialsider a[data-socialsider='xing']::after { content:"l";}
.socialsider a[data-socialsider='myspace']::after { content:"m";}
.socialsider a[data-socialsider='soundcloud']::after { content:"n";}
.socialsider a[data-socialsider='spotify']::after { content:"o";}
.socialsider a[data-socialsider='grooveshark']::after { content:"p";}
.socialsider a[data-socialsider='lastfm']::after { content:"q";}
.socialsider a[data-socialsider='youtube']::after { content:"r";}
.socialsider a[data-socialsider='vimeo']::after { content:"s";}
.socialsider a[data-socialsider='dailymotion']::after { content:"t";}
.socialsider a[data-socialsider='vine']::after { content:"u";}
.socialsider a[data-socialsider='flickr']::after { content:"v";}
.socialsider a[data-socialsider='500px']::after { content:"w";}
.socialsider a[data-socialsider='instagram']::after { content:"x";}
.socialsider a[data-socialsider='wordpress']::after { content:"y";}
.socialsider a[data-socialsider='tumblr']::after { content:"z";}
.socialsider a[data-socialsider='blogger']::after { content:"A";}
.socialsider a[data-socialsider='technorati']::after { content:"B";}
.socialsider a[data-socialsider='reddit']::after { content:"C";}
.socialsider a[data-socialsider='dribbble']::after { content:"D";}
.socialsider a[data-socialsider='stumbleupon']::after { content:"E";}
.socialsider a[data-socialsider='digg']::after { content:"F";}
.socialsider a[data-socialsider='envato']::after { content:"G";}
.socialsider a[data-socialsider='behance']::after { content:"H";}
.socialsider a[data-socialsider='delicious']::after { content:"I";}
.socialsider a[data-socialsider='deviantart']::after { content:"J";}
.socialsider a[data-socialsider='forrst']::after { content:"K";}
.socialsider a[data-socialsider='play']::after { content:"L";}
.socialsider a[data-socialsider='zerply']::after { content:"M";}
.socialsider a[data-socialsider='wikipedia']::after { content:"N";}
.socialsider a[data-socialsider='apple']::after { content:"O";}
.socialsider a[data-socialsider='flattr']::after { content:"P";}
.socialsider a[data-socialsider='github']::after { content:"Q";}
.socialsider a[data-socialsider='chimein']::after { content:"R";}
.socialsider a[data-socialsider='friendfeed']::after { content:"S";}
.socialsider a[data-socialsider='newsvine']::after { content:"T";}
.socialsider a[data-socialsider='identica']::after { content:"U";}
.socialsider a[data-socialsider='bebo']::after { content:"V";}
.socialsider a[data-socialsider='zynga']::after { content:"W";}
.socialsider a[data-socialsider='steam']::after { content:"X";}
.socialsider a[data-socialsider='xbox']::after { content:"Y";}
.socialsider a[data-socialsider='windows']::after { content:"Z";}
.socialsider a[data-socialsider='outlook']::after { content:"1";}
.socialsider a[data-socialsider='coderwall']::after { content:"2";}
.socialsider a[data-socialsider='tripadvisor']::after { content:"3";}
.socialsider a[data-socialsider='netcodes']::after { content:"4";}
.socialsider a[data-socialsider='easid']::after { content:"5";}
.socialsider a[data-socialsider='lanyrd']::after { content:"7";}
.socialsider a[data-socialsider='slideshare']::after { content:"8";}
.socialsider a[data-socialsider='buffer']::after { content:"9";}
.socialsider a[data-socialsider='rss']::after { content: ",";}
.socialsider a[data-socialsider='vkontakte']::after { content:";";}
.socialsider a[data-socialsider='disqus']::after { content:":";}


/* Colors */

/* Dark background, white font */
.socialsider.socialsider_bgdark_white a::after { background:#333; color:#FFF;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='twitter']:hover::after { background:#4da7de;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='facebook']:hover::after { background:#3e5b98;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='google']:hover::after { background:#d93e2d;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='pinterest']:hover::after { background:#c92619;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='foursquare']:hover::after { background:#23b7e0;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='yahoo']:hover::after { background:#6E2A85;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='skype']:hover::after { background:#28abe3;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='yelp']:hover::after { background:#c83218;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='feedburner']:hover::after { background:#FFCC00;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='linkedin']:hover::after { background:#3371b7;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='viadeo']:hover::after { background:#e4a000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='xing']:hover::after { background:#005a60;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='myspace']:hover::after { background:#323232;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='soundcloud']:hover::after { background:#fe3801;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='spotify']:hover::after { background:#7bb342;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='grooveshark']:hover::after { background:#000000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='lastfm']:hover::after { background:#d41316;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='youtube']:hover::after { background:#e02a20;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='vimeo']:hover::after { background:#51b5e7;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='dailymotion']:hover::after { background:#004e72;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='vine']:hover::after { background:#00b389;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='flickr']:hover::after { background:#1e1e1b;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='500px']:hover::after { background:#58a9de;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='instagram']:hover::after { background:#9c7c6e;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='wordpress']:hover::after { background:#464646;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='tumblr']:hover::after { background:#45556c;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='blogger']:hover::after { background:#ec661c;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='technorati']:hover::after { background:#5cb030;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='reddit']:hover::after { background:#e74a1e;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='dribbble']:hover::after { background:#e84d88;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='stumbleupon']:hover::after { background:#e64011;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='digg']:hover::after { background:#1d1d1b;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='envato']:hover::after { background:#597c3a;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='behance']:hover::after { background:#000000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='delicious']:hover::after { background:#020202;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='deviantart']:hover::after { background:#c5d200;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='forrst']:hover::after { background:#5B9A68;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='play']:hover::after { background:#000000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='zerply']:hover::after { background:#9DBC7A;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='wikipedia']:hover::after { background:#000000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='apple']:hover::after { background:#B9BFC1;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='flattr']:hover::after { background:#F67C1A;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='github']:hover::after { background:#5380c0;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='chimein']:hover::after { background:#888688;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='friendfeed']:hover::after { background:#2F72C4;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='newsvine']:hover::after { background:#075B2F;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='identica']:hover::after { background:#000000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='bebo']:hover::after { background:#EF1011;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='zynga']:hover::after { background:#DC0606;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='steam']:hover::after { background:#8F8D8A;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='xbox']:hover::after { background:#92C83E;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='windows']:hover::after { background:#00BDF6;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='outlook']:hover::after { background:#0072C6;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='coderwall']:hover::after { background:#3E8DCC;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='tripadvisor']:hover::after { background:#000000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='netcodes']:hover::after { background:#2E3436;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='easid']:hover::after { background:#1ABC9C;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='lanyrd']:hover::after { background:#3c80c9;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='slideshare']:hover::after { background:#4ba3a6;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='buffer']:hover::after { background:#000000;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='rss']:hover::after { background: #f26109;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='vkontakte']:hover::after { background:#5a7fa6;}
.socialsider.socialsider_bgdark_white.socialsider_colorize a[data-socialsider='disqus']:hover::after { background:#2e9fff;}


/* White background, dark font */
.socialsider.socialsider_bgwhite_dark a::after { background:#FFF; color:#333;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='twitter']:hover::after { color:#4da7de;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='facebook']:hover::after { color:#3e5b98;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='google']:hover::after { color:#d93e2d;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='pinterest']:hover::after { color:#c92619;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='foursquare']:hover::after { color:#23b7e0;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='yahoo']:hover::after { color:#6E2A85;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='skype']:hover::after { color:#28abe3;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='yelp']:hover::after { color:#c83218;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='feedburner']:hover::after { color:#FFCC00;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='linkedin']:hover::after { color:#3371b7;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='viadeo']:hover::after { color:#e4a000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='xing']:hover::after { color:#005a60;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='myspace']:hover::after { color:#323232;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='soundcloud']:hover::after { color:#fe3801;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='spotify']:hover::after { color:#7bb342;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='grooveshark']:hover::after { color:#000000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='lastfm']:hover::after { color:#d41316;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='youtube']:hover::after { color:#e02a20;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='vimeo']:hover::after { color:#51b5e7;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='dailymotion']:hover::after { color:#004e72;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='vine']:hover::after { color:#00b389;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='flickr']:hover::after { color:#1e1e1b;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='500px']:hover::after { color:#58a9de;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='instagram']:hover::after { color:#9c7c6e;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='wordpress']:hover::after { color:#464646;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='tumblr']:hover::after { color:#45556c;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='blogger']:hover::after { color:#ec661c;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='technorati']:hover::after { color:#5cb030;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='reddit']:hover::after { color:#e74a1e;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='dribbble']:hover::after { color:#e84d88;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='stumbleupon']:hover::after { color:#e64011;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='digg']:hover::after { color:#1d1d1b;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='envato']:hover::after { color:#597c3a;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='behance']:hover::after { color:#000000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='delicious']:hover::after { color:#020202;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='deviantart']:hover::after { color:#c5d200;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='forrst']:hover::after { color:#5B9A68;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='play']:hover::after { color:#000000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='zerply']:hover::after { color:#9DBC7A;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='wikipedia']:hover::after { color:#000000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='apple']:hover::after { color:#B9BFC1;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='flattr']:hover::after { color:#F67C1A;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='github']:hover::after { color:#5380c0;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='chimein']:hover::after { color:#888688;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='friendfeed']:hover::after { color:#2F72C4;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='newsvine']:hover::after { color:#075B2F;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='identica']:hover::after { color:#000000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='bebo']:hover::after { color:#EF1011;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='zynga']:hover::after { color:#DC0606;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='steam']:hover::after { color:#8F8D8A;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='xbox']:hover::after { color:#92C83E;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='windows']:hover::after { color:#00BDF6;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='outlook']:hover::after { color:#0072C6;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='coderwall']:hover::after { color:#3E8DCC;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='tripadvisor']:hover::after { color:#000000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='netcodes']:hover::after { color:#2E3436;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='easid']:hover::after { color:#1ABC9C;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='lanyrd']:hover::after { color:#3c80c9;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='slideshare']:hover::after { color:#4ba3a6;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='buffer']:hover::after { color:#000000;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='rss']:hover::after { color: #f26109;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='vkontakte']:hover::after { color:#5a7fa6;}
.socialsider.socialsider_bgwhite_dark.socialsider_colorize a[data-socialsider='disqus']:hover::after { color:#2e9fff;}

/* Color background, white font */
.socialsider.socialsider_bgcolor_white a::after { color:#FFF;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='twitter']::after { background:#4da7de;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='facebook']::after { background:#3e5b98;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='google']::after { background:#d93e2d;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='pinterest']::after { background:#c92619;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='foursquare']::after { background:#23b7e0;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='yahoo']::after { background:#6E2A85;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='skype']::after { background:#28abe3;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='yelp']::after { background:#c83218;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='feedburner']::after { background:#FFCC00;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='linkedin']::after { background:#3371b7;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='viadeo']::after { background:#e4a000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='xing']::after { background:#005a60;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='myspace']::after { background:#323232;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='soundcloud']::after { background:#fe3801;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='spotify']::after { background:#7bb342;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='grooveshark']::after { background:#000000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='lastfm']::after { background:#d41316;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='youtube']::after { background:#e02a20;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='vimeo']::after { background:#51b5e7;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='dailymotion']::after { background:#004e72;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='vine']::after { background:#00b389;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='flickr']::after { background:#1e1e1b;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='500px']::after { background:#58a9de;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='instagram']::after { background:#9c7c6e;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='wordpress']::after { background:#464646;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='tumblr']::after { background:#45556c;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='blogger']::after { background:#ec661c;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='technorati']::after { background:#5cb030;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='reddit']::after { background:#e74a1e;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='dribbble']::after { background:#e84d88;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='stumbleupon']::after { background:#e64011;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='digg']::after { background:#1d1d1b;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='envato']::after { background:#597c3a;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='behance']::after { background:#000000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='delicious']::after { background:#020202;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='deviantart']::after { background:#c5d200;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='forrst']::after { background:#5B9A68;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='play']::after { background:#000000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='zerply']::after { background:#9DBC7A;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='wikipedia']::after { background:#000000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='apple']::after { background:#B9BFC1;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='flattr']::after { background:#F67C1A;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='github']::after { background:#5380c0;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='chimein']::after { background:#888688;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='friendfeed']::after { background:#2F72C4;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='newsvine']::after { background:#075B2F;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='identica']::after { background:#000000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='bebo']::after { background:#EF1011;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='zynga']::after { background:#DC0606;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='steam']::after { background:#8F8D8A;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='xbox']::after { background:#92C83E;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='windows']::after { background:#00BDF6;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='outlook']::after { background:#0072C6;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='coderwall']::after { background:#3E8DCC;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='tripadvisor']::after { background:#000000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='netcodes']::after { background:#2E3436;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='easid']::after { background:#1ABC9C;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='lanyrd']::after { background:#3c80c9;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='slideshare']::after { background:#4ba3a6;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='buffer']::after { background:#000000;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='rss']::after { background: #f26109;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='vkontakte']::after { background:#5a7fa6;}
.socialsider.socialsider_bgcolor_white a[data-socialsider='disqus']::after { background:#2e9fff;}


/* White background, color font */
.socialsider.socialsider_bgwhite_color a::after { background:#FFF;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='twitter']::after { color:#4da7de;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='facebook']::after { color:#3e5b98;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='google']::after { color:#d93e2d;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='pinterest']::after { color:#c92619;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='foursquare']::after { color:#23b7e0;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='yahoo']::after { color:#6E2A85;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='skype']::after { color:#28abe3;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='yelp']::after { color:#c83218;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='feedburner']::after { color:#FFCC00;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='linkedin']::after { color:#3371b7;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='viadeo']::after { color:#e4a000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='xing']::after { color:#005a60;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='myspace']::after { color:#323232;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='soundcloud']::after { color:#fe3801;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='spotify']::after { color:#7bb342;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='grooveshark']::after { color:#000000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='lastfm']::after { color:#d41316;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='youtube']::after { color:#e02a20;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='vimeo']::after { color:#51b5e7;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='dailymotion']::after { color:#004e72;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='vine']::after { color:#00b389;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='flickr']::after { color:#1e1e1b;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='500px']::after { color:#58a9de;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='instagram']::after { color:#9c7c6e;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='wordpress']::after { color:#464646;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='tumblr']::after { color:#45556c;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='blogger']::after { color:#ec661c;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='technorati']::after { color:#5cb030;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='reddit']::after { color:#e74a1e;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='dribbble']::after { color:#e84d88;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='stumbleupon']::after { color:#e64011;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='digg']::after { color:#1d1d1b;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='envato']::after { color:#597c3a;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='behance']::after { color:#000000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='delicious']::after { color:#020202;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='deviantart']::after { color:#c5d200;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='forrst']::after { color:#5B9A68;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='play']::after { color:#000000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='zerply']::after { color:#9DBC7A;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='wikipedia']::after { color:#000000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='apple']::after { color:#B9BFC1;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='flattr']::after { color:#F67C1A;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='github']::after { color:#5380c0;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='chimein']::after { color:#888688;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='friendfeed']::after { color:#2F72C4;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='newsvine']::after { color:#075B2F;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='identica']::after { color:#000000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='bebo']::after { color:#EF1011;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='zynga']::after { color:#DC0606;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='steam']::after { color:#8F8D8A;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='xbox']::after { color:#92C83E;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='windows']::after { color:#00BDF6;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='outlook']::after { color:#0072C6;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='coderwall']::after { color:#3E8DCC;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='tripadvisor']::after { color:#000000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='netcodes']::after { color:#2E3436;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='easid']::after { color:#1ABC9C;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='lanyrd']::after { color:#3c80c9;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='slideshare']::after { color:#4ba3a6;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='buffer']::after { color:#000000;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='rss']::after { color: #f26109;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='vkontakte']::after { color:#5a7fa6;}
.socialsider.socialsider_bgwhite_color a[data-socialsider='disqus']::after { color:#2e9fff;}