<!DOCTYPE html>
<!-- saved from url=(0125)https://xomorod.createsend.com/campaigns/reports/viewCampaign.aspx?d=i&c=22558AE8A5CA0CFE&ID=5FA15D2EDF8E1487&temp=False&tx=0 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="js flexbox draganddrop rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent filereader boxsizing win">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Xomorod Bugs | Campaign Monitor</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript" src="./Xomorod Bugs _ Campaign Monitor_files/3cbe1f8970"></script>
    <script src="./Xomorod Bugs _ Campaign Monitor_files/nr-852.min.js"></script>
    <script async="" src="./Xomorod Bugs _ Campaign Monitor_files/analytics.js"></script>
    <script type="text/javascript" async="" src="./Xomorod Bugs _ Campaign Monitor_files/dc.js"></script>
    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info = {"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"3cbe1f8970","applicationID":"140681","transactionName":"NlZWZUYFWUMEUxZZDA8cdWJkS0VVFV8QRBBORV1UQwdWXRVRC1cNT1JHQUw=","queueTime":0,"applicationTime":205,"ttGuid":"DFBD5B2AC80622DD","agent":""}</script>
    <script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o||e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({QJf3ax:[function(t,e){function n(){}function r(t){function e(t){return t&&t instanceof n?t:t?a(t,i,o):o()}function c(n,r,o){t&&t(n,r,o);for(var i=e(o),a=f(n),c=a.length,u=0;c>u;u++)a[u].apply(i,r);return i}function u(t,e){p[t]=f(t).concat(e)}function f(t){return p[t]||[]}function s(){return r(c)}var p={};return{on:u,emit:c,create:s,listeners:f,context:e,_events:p}}function o(){return new n}var i="nr@context",a=t("gos");e.exports=r()},{gos:"7eSDFh"}],ee:[function(t,e){e.exports=t("QJf3ax")},{}],3:[function(t,e){function n(t){return function(){r(t,[(new Date).getTime()].concat(i(arguments)))}}var r=t("handle"),o=t(1),i=t(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(t,e){window.NREUM[e]=n("api-"+e)}),e.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],gos:[function(t,e){e.exports=t("7eSDFh")},{}],"7eSDFh":[function(t,e){function n(t,e,n){if(r.call(t,e))return t[e];var o=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,e,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return t[e]=o,o}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],D5DuLP:[function(t,e){function n(t,e,n){return r.listeners(t).length?r.emit(t,e,n):void(r.q&&(r.q[t]||(r.q[t]=[]),r.q[t].push(e)))}var r=t("ee").create();e.exports=n,n.ee=r,r.q={}},{ee:"QJf3ax"}],handle:[function(t,e){e.exports=t("D5DuLP")},{}],XL7HBI:[function(t,e){function n(t){var e=typeof t;return!t||"object"!==e&&"function"!==e?-1:t===window?0:i(t,o,function(){return r++})}var r=1,o="nr@id",i=t("gos");e.exports=n},{gos:"7eSDFh"}],id:[function(t,e){e.exports=t("XL7HBI")},{}],G9z0Bl:[function(t,e){function n(){if(!v++){var t=l.info=NREUM.info,e=f.getElementsByTagName("script")[0];if(t&&t.licenseKey&&t.applicationID&&e){c(p,function(e,n){t[e]||(t[e]=n)});var n="https"===s.split(":")[0]||t.sslForHttp;l.proto=n?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=l.proto+t.agent,e.parentNode.insertBefore(r,e)}}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=t("handle"),c=t(1),u=window,f=u.document;t(2);var s=(""+location).split("?")[0],p={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-852.min.js"},d=window.XMLHttpRequest&&XMLHttpRequest.prototype&&XMLHttpRequest.prototype.addEventListener&&!/CriOS/.test(navigator.userAgent),l=e.exports={offset:i(),origin:s,features:{},xhrWrappable:d};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),u.addEventListener("load",n,!1)):(f.attachEvent("onreadystatechange",r),u.attachEvent("onload",n)),a("mark",["firstbyte",i()]);var v=0},{1:12,2:3,handle:"D5DuLP"}],loader:[function(t,e){e.exports=t("G9z0Bl")},{}],12:[function(t,e){function n(t,e){var n=[],o="",i=0;for(o in t)r.call(t,o)&&(n[i]=e(o,t[o]),i+=1);return n}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],13:[function(t,e){function n(t,e,n){e||(e=0),"undefined"==typeof n&&(n=t?t.length:0);for(var r=-1,o=n-e||0,i=Array(0>o?0:o);++r<o;)i[r]=t[e+r];return i}e.exports=n},{}]},{},["G9z0Bl"]);</script>
    <link rel="shortcut icon" href="https://img.createsend1.com/favicon.ico?3">
    <link href="./Xomorod Bugs _ Campaign Monitor_files/global-old-setup.min.css" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="./Xomorod Bugs _ Campaign Monitor_files/global-new-setup.min.css" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="./Xomorod Bugs _ Campaign Monitor_files/pretty.min.css" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="./Xomorod Bugs _ Campaign Monitor_files/olark.min.css" media="screen,projection" rel="stylesheet" type="text/css">
    <link href="./Xomorod Bugs _ Campaign Monitor_files/print.min.css" media="print" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon-precomposed" href="https://img.createsend1.com/mobile_themes/cs/img/iOS-120.png">
    <script type="text/javascript" src="./Xomorod Bugs _ Campaign Monitor_files/modernizr.2.6.2.js"></script>
    <script type="text/javascript" src="./Xomorod Bugs _ Campaign Monitor_files/jquery-1.7.2.min.js"></script>
    <script>var gaPrefix = 'app';var gaAccountClassic = '-', gaAccountUniversal = '-';</script>
    <script type="text/javascript" src="./Xomorod Bugs _ Campaign Monitor_files/cm.min.js"></script>
    <link type="text/css" rel="stylesheet" href="./Xomorod Bugs _ Campaign Monitor_files/chrome.css" media="screen">


    <script type="text/javascript" src="./Xomorod Bugs _ Campaign Monitor_files/reports.min.js"></script>
    <script type="text/javascript">

        $(window).resize(function(){
            var topbarHeight = $(".bar-mid").height();
            var paddingHeight = 60;
            var newHeight = $(window).height() - topbarHeight - paddingHeight;
            CS.ViewCampaign.changeFrameHeight(newHeight);
        });

        function change_parent_url(url) {
          document.location = url;
        }
    </script>

    <style type="text/css">

        body, html {
            margin: 0;
            width: 100%;
            height: 100%;
            /*overflow: hidden;*/
            background: #FFF;
        }
        iframe {
            width: 100%;
            border-top: 1px solid #c6c6c6;
        }
        .ie iframe {
            margin-top: -2px;
        }

        .email-client .bar-mid {
          /*height: 80px;*/
          background: #FFF;
          position: relative;
          z-index: 10;
          -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 2px;
          -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 2px;
        }
        .email-client .bar-mid .details {
          padding: 20px 0px 20px 0px;
          /*float: left;*/
          min-width: 320px;
          width: 100%;
        }
        .email-client .bar-mid .details .avatar {
          width: 38px;
          height: 38px;
          background: url(../img/subscriber-notifications/avatar-email-client.jpg) no-repeat;
          display: inline-block;
          float: left;
          margin-right: 10px;
          margin-left: 20px;
        }
        .email-client .bar-mid .details .text {
          /*float: left;*/
          width: 45%;
          display: inline-block;
        }
        .email-client .bar-mid .details .text p {
          color: #888888;
          font-size: 13px;
          padding-bottom: 2px;
        }
        .button-group {
            width: 130px;
            position: absolute;
            top: 29px;
            right: 20px;
        }

        .print-preview {
            color: #888 !important;
            position: absolute;
            top: 33px;
            right: 165px;
        }

        .dynamic-content {
            width: 220px;
            display: block;
            background: #595d65;
            float: left;
            padding: 30px;
            margin: 0px;
            color: #FFF;
            overflow: auto;
              -moz-box-shadow:    inset -4px 0px 9px -6px #000;
              -webkit-box-shadow: inset -4px 0px 9px -6px #000;
              box-shadow:         inset -4px 0px 9px -6px #000;

        }

        .dynamic-content .title {
            color: #b8babc;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .dynamic-content .custom-field {
            font-size: 14px;
            font-weight: bold;
            border-bottom: #686b72 solid 1px;
            padding-bottom: 3px;
            margin: 25px 0px 10px 0px;
            display: block;
            word-break: break-all;
        }

        .dynamic-content .new-form .ko-radio, .dynamic-content .new-form .ko-checkbox {
            position: relative;
            margin-right: 0;
        }

        .dynamic-content label{
            width: 100%;
            text-align: left;
            font-weight: normal;
            margin-bottom: 5px;
            float: none;
            line-height: 16px;
        }

        .email-preview {
            margin-left: 280px;
            background: #FFF;
        }

        .sub-items {
            padding-left: 22px;
            margin-bottom: 8px;
        }

        @media only screen
        and (max-width : 580px) {

            .button-group {
                position: relative;
                top: auto;
                right: auto;
                margin-left: 69px;
                margin-top: 10px;
            }

            .print-preview {
                position: relative;
                top: auto;
                right: auto;
                margin-left: 15px;
                margin-top: 3px;
                display: inline-block;
            }

            .email-client .bar-mid .details .text {
                width: 75%;
            }
        }

    </style>
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
    <script type="text/javascript" src="chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js"></script>
</head>
<body>
    <div id="htmlPreview">

        <div id="htmlDetails" class="email-client">
            <div class="bar-mid">
                <div class="details">

                    <div class="avatar"></div>
                    <div class="text">



                        <p><strong>From:</strong> Xomorod &lt;feedback@xomorod.com&gt;</p>



                        <p><strong>Subject:</strong> Xomorod Bugs v2.03</p>


                    </div>


                    <div class="button-group" style="">
                        <a href="https://xomorod.createsend.com/campaigns/reports/viewCampaign.aspx?d=i&amp;c=22558AE8A5CA0CFE&amp;ID=5FA15D2EDF8E1487&amp;temp=False&amp;tx=0#" class="button small selected">HTML</a>
                        <a href="https://xomorod.createsend.com/campaigns/reports/viewCampaign.aspx?d=i&amp;c=22558AE8A5CA0CFE&amp;ID=5FA15D2EDF8E1487&amp;temp=False&amp;tx=0#" class="button small" onclick="CS.ViewCampaign.toggleVersion();return false;">Plain text</a>
                    </div>


                    <a href="https://xomorod.createsend.com/t/ViewEmail/i/5FA15D2EDF8E1487/C67FD2F38AC4859C/?tx=0&amp;previewAll=1&amp;print=1" target="_blank" class="print-preview">Print preview</a>

                </div>
            </div>
        </div>

        <div id="dc-html" class="dynamic-content" style="display: none; height: 1039px;">
            <form action="./Xomorod Bugs _ Campaign Monitor_files/saved_resource.html" method="post" target="htmlFrame">
                <div class="title">Dynamic content</div>
                <section class="new-form"></section>
            </form>
        </div>

        <div class="email-preview" id="htmlWrap" style="margin-left: 0">
            <iframe id="htmlFrame" name="htmlFrame" src="./Xomorod Bugs _ Campaign Monitor_files/saved_resource.html" width="100%" frameborder="0" scrolling="auto" class="frame" style="height: 1098px;"></iframe>
        </div>

    </div>

    <div id="textPreview" style="display:none">

        <div id="textDetails" class="email-client">
            <div class="bar-mid">
                <div class="details">
                    <div class="avatar"></div>
                    <div class="text">
                        <p><strong>From:</strong> Xomorod &lt;feedback@xomorod.com&gt;</p>
                        <p><strong>Subject:</strong> Xomorod Bugs v2.03</p>
                    </div>


                    <div class="button-group" style="">
                        <a class="button small" href="https://xomorod.createsend.com/campaigns/reports/viewCampaign.aspx?d=i&amp;c=22558AE8A5CA0CFE&amp;ID=5FA15D2EDF8E1487&amp;temp=False&amp;tx=0#" onclick="CS.ViewCampaign.toggleVersion();return false;">HTML</a>
                        <a href="https://xomorod.createsend.com/campaigns/reports/viewCampaign.aspx?d=i&amp;c=22558AE8A5CA0CFE&amp;ID=5FA15D2EDF8E1487&amp;temp=False&amp;tx=0#" class="button small selected">Plain text</a>
                    </div>


                    <a href="https://xomorod.createsend.com/t/ViewEmail/i/5FA15D2EDF8E1487/C67FD2F38AC4859C/text/?tx=0&amp;previewAll=1&amp;print=1" target="_blank" class="print-preview">Print preview</a>

                </div>
            </div>
        </div>

        <div id="dc-text" class="dynamic-content" style="display: none; height: 1039px;">
            <form action="./Xomorod Bugs _ Campaign Monitor_files/saved_resource(1).html" method="post" target="textFrame">
                <div class="title">Dynamic content</div>
                <section class="new-form"></section>
            </form>
        </div>

        <div class="email-preview" id="textWrap" style="margin-left: 0">
            <iframe id="textFrame" name="textFrame" src="./Xomorod Bugs _ Campaign Monitor_files/saved_resource(1).html" width="100%" frameborder="0" scrolling="auto" class="frame" style="height: 1098px;"></iframe>
        </div>

    </div>




    <script type="text/javascript">

    var docHeight = $(document).height();
    var topbarHeight = $(".bar-mid").height();
    var paddingHeight = 60;

    $(".frame").css("height", docHeight - topbarHeight - 1 + "px");
    $('.dynamic-content').height(docHeight - topbarHeight - paddingHeight);
    $(function () {
        var toggleValue = function ($checkbox) {
            var value = $checkbox.attr('value');
            $checkbox.attr('value', $checkbox.attr('toggle-value'));
            $checkbox.attr('toggle-value', value);
        };
        $('.ko-radio').bind('change', function (e) {
            $('.ko-checkbox:visible').each(function (i, e) {
                if ($(e).prop('checked')) {
                    $(e).prop('checked', false);
                    toggleValue($(e));
                }
            });
            $(this).closest('form').trigger('submit');
        });
        $('.ko-checkbox').bind('change', function (e) {
            toggleValue($(this));
            $('#' + $(this).attr('parent-id')).prop('checked', true);
            $(this).closest('form').trigger('submit');
        });
    });

    CS.ViewCampaign.showVersionSwitcher();

    </script>


</body>
</html>