@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US" class="static common">
<head>
    <meta charset="utf-8" />
    <meta content="Error" name="generator" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="../../favicon.jpg">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/error")
</head>
<body>
    <div class="zone zone-content">
        <!DOCTYPE html>
        <html>
        <head>
            <title>Blogs : The Official Microsoft IIS Site - Welcome</title>
        </head>
        <body bgcolor="#00abec">
            <div id="feature">
                <div id="content">
                    <h1>This page doesn't exist</h1>
                    <p>Please go back or navigate <a href="http://xomorod.com">Xomorod</a>.</p>
                </div>
            </div>
        </body>
    </html>
</div>

</body>
</html>

